body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar styling bootstrap overrides*/
.navbar {
    background-color: #0d498b;
}

/* Custom Styles */

.main-header {
    width: 90vw;
    height: 50vh;
    display: block;
    position: relative;
}

    .main-header::after {
        content: "";
        background: url(https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&auto=format&fit=crop&w=1158&q=80);
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: inherit;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

.header-text {
    padding-top: 2em;
    padding-left: 3em;
    font-size: 4em;
    color: #1c1b1e;
}


